<template>
    <div>
        <v-row justify="center">
            <v-col cols="12" md="12">
                <v-btn
                    color="normal"
                    class="mr-5"
                    :disabled="isButtonDisabled"
                    @click="prev"
                >
                    <span class="font-weight-black">Sebelumnya</span>
                </v-btn>

                <v-btn
                    color="normal"
                    v-if="$store.state.id != ($store.state.quiz.length - 1)"
                    @click="next"
                >
                    <span class="font-weight-black">Next</span>
                </v-btn>

                <v-btn
                    color="normal"
                    v-if="$store.state.id == ($store.state.quiz.length - 1)"
                    @click="redirectToFinish()"
                >
                    <span class="font-weight-black">Selesai</span>
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    props: ['next', 'prev'],

    methods: {
        redirectToFinish() {
            this.$router.push('/finish')
        }
    },

    computed: {
        isButtonDisabled() {
            if(this.$store.state.id > 0) {
                return false
            } 
            
            return true
        }
    }
}
</script>