<template>
    <div>
        <v-row justify="center">
            <v-col
                cols="12"
                md="8"
            >
                <v-card outlined>
                    <v-container>
                        <v-row>
                            <v-card-title class="font-weight-bold">
                                {{quiz.question}}
                            </v-card-title>
                        </v-row>
                        <v-img
                            :src="`${quiz.img}`"
                            max-height="20rem"
                            :contain="true"
                        ></v-img>
                    </v-container>
                </v-card>
            </v-col>
        </v-row>
        <quiz-answer v-for="answer in quiz.answers" :correctAnswer="quiz.correctAnswer" :key="answer.id" :answer="answer"></quiz-answer>
    </div>
</template>

<script>
import QuizAnswer from './QuizAnswer'

export default {
    components: {
        QuizAnswer
    },

    props: ['quiz'],
}
</script>