<template>
    <v-row justify="center">
        <v-col
            cols="12"
            xs="8"
            md="8"
        >
            <v-row>
                <v-col
                    cols="12"
                    md="12"
                    color="light-blue"
                >
                    <v-card>
                        <v-row>
                            <v-col cols="2" md="2" xs="2">
                                <v-card outlined color="light-blue" dark @click="answerTheQuestion()">
                                    <v-card-title class="font-weight-black">{{answer.id}}</v-card-title>
                                </v-card>
                            </v-col>
                            <v-col cols="8" md="8" xs="8">
                                <v-card-title><span v-html="answer.answer"></span></v-card-title>
                                <v-img 
                                    v-if="answer.img != undefined"
                                    :src="answer.img"
                                    max-height="40"
                                    :contain="true"
                                />
                            </v-col>
                        </v-row>
                    </v-card>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</template>

<script>
export default {
    props: ['answer', 'correctAnswer'],

    methods: {
        answerTheQuestion() {
            if(this.answer.id === this.correctAnswer) {
                this.$store.commit('setCorrectAnswer')
            }
            if(this.$store.state.id < this.$store.state.quiz.length) {
                this.$store.commit('plusId')
            } else {
                this.$router.push('/finish')
            }
        }
    }
}
</script>