<template>
    <v-container>
        <v-row
            justify="center"
        >
            <v-col
                cols="12"
                xs="8"
            >
                <v-card
                    outlined
                    class="px-5 py-5"
                >
                    <p class="text-capitalize">
                        Nama : {{ username }}
                    </p>
                    <p>
                        Point: {{ $store.getters.points }}
                    </p>
                    <p>Jawaban Benar : {{ parseInt($store.getters.points / 5.55555555556) }}</p>

                    <v-btn
                        color="error"
                        class="font-weight-bold"
                        @click="redirect()"
                    >
                        Selesai
                    </v-btn>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    computed: {
        username() {
            return localStorage.getItem('username')
        }
    },

    methods: {
        redirect() {
            window.location.href = '/'
        }
    },

    mounted() {
        clearInterval()
    }
}
</script>