<template>
    <v-container>
        <v-row no-gutters>
            <v-col
                cols="12"
                md="6"
            >
                <v-img
                    src="../assets/science.svg"
                    max-height="20rem"
                    :contain="false"
                    class="mt-5 animate__animated animate__lightSpeedInLeft"
                ></v-img>
            </v-col>
            <v-col
                cols="12"
                md="6"
                class="mt-12 animate__animated animate__lightSpeedInRight"
            >
                <h3 class="font-weight-black display-1 mt-5">
                    Mainkan Kuis Dengan Tema Termokimia
                </h3>
                <p class="font-weight-light mt-5">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                </p>
                <v-btn large @click="$router.push('/start')">Mainkan</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    
}
</script>