<template>
    <v-container>
        <v-row justify="center">
            <v-col
                cols="12"
                md="2"
                sm="4"
                xs="4"
            >
                <v-card outlined class="text-center">
                    <h3 class="font-weight-black heading-4">
                        {{ times }}
                    </h3>
                </v-card>
            </v-col>
            <v-col
                cols="12"
                md="6"
                sm="8"
                xs="8"
            >
                <v-card outlined class="text-center">
                    <h3 class="font-weight-black heading-4">
                        Soal No.{{ $store.state.id + 1 }}
                    </h3>
                </v-card>
            </v-col>
        </v-row>
        <quiz-box :quiz="$store.state.quiz[this.$store.state.id]"></quiz-box>
        <action-button :next="nextQuiz" :prev="prevQuiz"></action-button>
    </v-container>
</template>

<script>
import QuizBox from './quiz/QuizBox'
import ActionButton from './quiz/ActionButton'

export default {
    components: {
        QuizBox,
        ActionButton
    },

    data: () => ({
        // id: 0,
    }),

    methods: {
        nextQuiz() {
            this.$store.commit('plusId')
        },

        prevQuiz() {
            this.$store.commit('reduceId')
        },

        quizTimeState() {
            return setInterval(() => {
                this.$store.getters.checkTimes
            }, 1000)

        },

        updateQuizTime() {
            let int = setInterval(() => {
                if(this.$store.state.time > 0) {
                    this.$store.commit('reduceQuizTime')
                } else {
                    this.$router.push('finish')
                    clearInterval(int)
                }
            }, 1000)
        },
    },

    computed: {
        times() {
            return `${this.$store.state.time} Detik`
        },
    },

    mounted() {
        if(this.$store.state.time > 0) {
            this.updateQuizTime()
        } else {
            clearInterval()
        }
    }
}
</script>