<template>
    <v-container>
        <v-row justify="center">
            <v-col
                cols="12"
                md="8"
            >
                <v-card class="mx-auto animate__animated animate__bounce" outlined>
                    <v-container>
                        <v-row justify="center">
                            <v-col
                                cols="12"
                                md="8"
                            >
                                <v-card-title class="font-weight-black display-1">Isi Data Mu</v-card-title>
                                <v-form
                                    ref="form"
                                    lazy-validation
                                >
                                    <v-text-field
                                        v-model="name"
                                        :counter="3"
                                        label="Nama Lengkap"
                                        required
                                    ></v-text-field>
                                    <v-container>
                                        <v-row>
                                            <v-btn
                                                color="error"
                                                class="mr-9"
                                                @click="playQuiz()"
                                            >
                                                <span class="font-weight-bold">
                                                    Main
                                                </span>
                                            </v-btn>
                                            <v-dialog
                                                v-model="dialog"
                                                width="500"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        color="primary"
                                                        dark
                                                        v-on="on"
                                                    >
                                                        <span class="font-weight-bold">
                                                            Aturan
                                                        </span>
                                                    </v-btn>
                                                </template>

                                                <v-card>
                                                    <v-card-title
                                                        class="headline grey lighten-2"
                                                        primary-title
                                                    >
                                                        Peraturan
                                                    </v-card-title>

                                                    <v-card-text class="mt-5">
                                                        Peraturannya didalam game ini yaitu kuis ini akan diberikan batas waktu pengerjaan. Saat mengerjakan ada soal yang tidak tau jawabannya maka kita bisa next ke soal berikut nya selama waktu masih ada. Apabila waktu telah habis maka otomatis akan muncul score akhir kuis yang kita kerjakan
                                                    </v-card-text>

                                                    <v-divider></v-divider>

                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn
                                                            color="primary"
                                                            text
                                                            @click="dialog = false"
                                                        >
                                                            Setuju
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </v-row>
                                    </v-container>
                                </v-form>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
                
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    data: () => ({
        name: '',
        dialog: false
    }),

    methods: {
        playQuiz() {
            this.$store.commit('setUserName', this.name)
            this.$router.push('/quiz')
        }
    }
}
</script>