<template>
  <v-app class="light-blue darken-4 text-white">
    <v-app-bar
      app
      color="light-blue darken-4"
      dark
    >
      <div class="d-flex align-center">
        <router-link to="/" class="title">
          <v-toolbar-title class="title font-weight-bold text-uppercase">
            Quiz Termokimia
          </v-toolbar-title>
        </router-link>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import 'animate.css'

export default {
  name: 'App',

  components: {
    
  },

  data: () => ({
    //
  }),
};
</script>

<style>
.theme--light.v-application {
  background: #01579B !important;
  color: #fff !important;
}

.title {
  color: #fff;
  text-decoration: none;
}
</style>
